<% content_for :stylesheets do %>
    <%= stylesheet_link_tag 'schedules' %>
<% end %>
<% content_for :javascripts do %>
    <%= javascript_include_tag 'schedules' %>
<% end %>

<h1>New schedule</h1>

<%= render 'form' %>

<%= link_to 'Back', schedules_path %>
